# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# ===============================
# Virtual Environment
# ===============================
env/
venv/
.env
.env.*
pyvenv.cfg

# ===============================
# Django
# ===============================
db.sqlite3
*.log
staticfiles/
media/

# Django migrations cache
**/migrations/__pycache__/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# macOS
# ===============================
.DS_Store

# ===============================
# Build / Deploy
# ===============================
build/
dist/
*.egg-info/

# ===============================
# Test / Coverage
# ===============================
.coverage
htmlcov/
.pytest_cache/

# ===============================
# Environment examples (keep this tracked)
# ===============================
!.env.example
